* {
  transition: 0.3s all ease;
}

.cbg {
  /* background-image: url("../assets/layered-waves-haikei\ \(1\).svg"); */
  background-size: cover;
  background-position: center;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(9, 180, 29, 0.741);
}
